modules = ["go"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SmallAPI Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Template Server"

[[workflows.workflow]]
name = "SmallAPI Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd examples/hello-world && go run main.go"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Template Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd examples/templates && go run main.go"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
